# Sistema base de proyectos
WEB_HOST_PORT=8090
DB_HOST=host.docker.internal
DB_PORT=1433
DB_NAME=tesis
DB_USER=sa
DB_PASS=CHANGE_ME
STORAGE_HOST_PATH=C:/sigepFiles-dev

# [ARTICLES-MIGRATION] Bases independientes del modulo de articulos
ARTICLES_MODULE_ENABLED=false
ARTICLES_DB_HOST=host.docker.internal
ARTICLES_DB_PORT=1433
ARTICLES_DB_USER=sa
ARTICLES_DB_PASS=CHANGE_ME
ARTICLES_OLTP_DB_NAME=TesisDB_Extensible
ARTICLES_OLAP_DB_NAME=TesisDW_Extensible
